

<div class="row text-center">
  <div class="col-sm">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="text-center">Generating QR Code</mat-card-title>
      </mat-card-header>
      <div mat-card-image></div>
      <mat-card-content>
        <p>
          Show 2 QR Examples
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/codigoqr">Open</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="jl-center">Read QR Code</mat-card-title>
      </mat-card-header>
      <div mat-card-image></div>
      <mat-card-content>
        <p>
          Using your device camera as a scanner
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/reader">Open</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <a href="https://www.linkedin.com/in/jolivaress"> by José Luis Olivares</a>
  </div>
</div>
