
  <div *ngIf="availableDevices" class="mb-3">

    <select (change)="onDeviceSelectChange(myDevice.value)" #myDevice>
        <option value="" [selected]="!selectedDevice">No Device</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">{{ device.label }}</option>
    </select>
    <!--
    <mat-form-field appearance="fill">
      <mat-label>Devices</mat-label>
      <mat-select (change)="onDeviceSelectChange(myDevice.value)" #myDevice>
        <mat-option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="selectedDevice && device.deviceId === selectedDevice.deviceId">
          {{device.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    -->
  </div>

  <div [hidden]="!hasCameras">

    <zxing-scanner #scanner class="test-class" start="true" [device]="selectedDevice" (scanSuccess)="handleQrCodeResult($event)" cssClass="small-video"></zxing-scanner>

    <h2 *ngIf="!this.selectedDevice">Ninguna cámara seleccionada</h2>

    <p>
        Resultado (Lectura Código QR):
        <strong>{{ qrResultString }}</strong>
    </p>

  </div>

  <div *ngIf="!hasCameras && hasPermission === true">

    <h1>Parece que el dispositivo actual no tiene camarás, o no podemos detectarla </h1>

  </div>

  <div *ngIf="hasPermission === undefined">

    <h1>Esperando por permisos</h1>

    <blockquote>
        <h2>Si su dispositivo no tiene camaras, no se solicitará ningún permiso</h2>
    </blockquote>

  </div>

  <div *ngIf="hasPermission === false">

    <h1>Usted denegó el permiso para poder usar la cámara, sin eso no podemos escanear 😿</h1>

  </div>


